#countdown {
	font-family: 'Poiret One', cursive;
	font-size: 2em;
}

.category {
	cursor: pointer;
}

.category-details {
	display: none;
}

.choice:hover {
	background-color: red;
	cursor: pointer;
}

.summary-button { 
	float: left; 
	margin-left: 5px;
}