#countdown-container {
	background-color: black;

}

#question-container .col-md-8 {
	padding: 0;
	position: relative;
}

#game-title {
	position: relative;
}

#title-text {
	position: absolute;
	font-family: 'Bangers', cursive;
	top: 100px;
	left: 25px;
	width: 20px;
	display: table;
}

#title-text p {
	font-size: 20em;
	line-height: 250px;
	text-align: center;
	vertical-align: middle;
	display: table-cell;
	color: #ccad00;
	text-shadow: 1px 1px 2px black, 0 0 25px #fff099, 0 0 50px #ffd700;
}

#correct-answer {
	font-family: 'Bangers', cursive;
	font-size: 2.5em;
	text-shadow: 1px 1px 2px black
}

#qa-container {
	position: relative;
	display: none; /* change to none for execution */
	left: -2000px; /* change to -1000px for execution */
}

#question {
	position: relative;
}

#question-text {
	position: absolute;
	top: 25px;
	left: 45px;
	width: 680px;	/* must provide width and height for text centering to work */
	height: 130px;
	color: white;
	font-family: 'Bangers', cursive;
	font-size: 2.0em;
	display: table;
}

#question-text p {
	text-align: center;
	vertical-align: middle;
	display: table-cell;
}

#correct-answer {
	color: #ffd700;
}

.cat-summary {
	font-family: 'Bangers', cursive;
	font-size: 2.0em;
	border: 1px solid black ;
	border-radius: 15px 15px 15px 15px;
	padding-top: 10px;
	padding-left: 20px;
	padding-bottom: 10px;
}

.jumbotron img {
	display:block;
    margin-left:auto;
    margin-right:auto;
}

.cat-summary-img {
	width: 350px;
	height: 320px;
}

.choice-text {
	position: absolute;
	top: 4px;
	left: 20px;
	width: 320px;	/* must provide width and height for text centering to work */
	height: 60px;
	color: white;
	font-family: 'Bangers', cursive;
	font-size: 1.5em;
	display: table;	/* for centering */
	z-index: 99;
}

.choice-text p {
	text-align: center;
	vertical-align: middle;
	display: table-cell; /* for centering */
}

.choice .choice-selected-img {
	display: none;
	position: absolute;
	top: -17px;
	left: 0;
	z-index: 1;
}

.choice:hover {
	cursor: pointer;
}

.choice:hover .choice-selected-img {
	display: inline;
}

.countdown-img {
	display: block;
    margin: auto;
	width: 300px;
	height: 300px;
}

.category {
	cursor: pointer;
	text-align: center;
	font-family: 'Bangers', cursive;
	font-size: 1.8em;
	background-color: #cccccc;
}

.category:hover {
	/*border: 1px solid #33ccff;*/
	/*background-color: #e6f9ff;*/
	color: white;
	text-shadow: 1px 1px 2px black, 0 0 25px #fff099, 0 0 50px #ffd700;
}

.category-details {
	display: none;
	font-family: 'Bangers', cursive;
	font-size: 1.0em;
	border-left: 1px solid black;
	border-right: 1px solid black;
	border-bottom: 1px solid black;
	border-radius: 0 0 15px 15px;
	padding: 10px;
}

.summary-button { 
	float: left; 
	margin-left: 5px;
}